include LICENSE
include *.md
include manage.py
recursive-include wllegal *.py
recursive-include wllegal/templates *.html *.txt
recursive-include wllegal/locale *.pot
recursive-include wllegal/locale *.po
recursive-include wllegal/locale *.mo
global-exclude *.swp *.swo __pycache__
