{% load i18n %}

<ul>
  <li>
    {% blocktranslate %}We process personal data (such as your e-mail address); those will be discarded from our database if you remove your account.{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate %}Your translations are made under the license which is specified by each translation.{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate %}Your name and e-mail address is used in VCS commits, it will stay there indefinitely.{% endblocktranslate %}
    {% blocktranslate %}Chosen name is up to you and the e-mail address used for commits can be masked by Weblate system to protect your privacy.{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate %}We use cookies to deliver our services.{% endblocktranslate %}
    {% blocktranslate %}We don’t use any third-party cookies.{% endblocktranslate %}
  </li>
</ul>
