{% load i18n %}

<ul>
  <li>
    {% blocktrans %}We process personal data (such as your e-mail address); those will be discarded from our database if you remove your account.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}Your translations are made under the license which is specified by each translation.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}Your name and e-mail address is used in VCS commits, it will stay there indefinitely.{% endblocktrans %}
    {% blocktrans %}Chosen name is up to you and the e-mail address used for commits can be masked by Weblate system to protect your privacy.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}We use cookies to deliver our services.{% endblocktrans %}
    {% blocktrans %}We don’t use any third-party cookies.{% endblocktrans %}
  </li>
</ul>
