{% load i18n %}

<ul>
  <li>
    {% blocktranslate %}We process personal data (such as your e-mail address); those will be discarded from our database if you remove your account.{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate %}By registering, you agree that your name and username will be visible publicly as long as your account exists.{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate %}Your name and e-mail can be used in version control system commits to author the changes you made; they can be stored there indefinitely.{% endblocktranslate %}
    {% blocktranslate %}Name choice is yours, and the e-mail address used for commits can be masked by Weblate to protect your privacy. You can enable this in your profile.{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate %}You provide your contribution under the license defined by each project you contributed to.{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate %}We use cookies to deliver our services.{% endblocktranslate %}
    {% blocktranslate %}We don’t use any third-party cookies.{% endblocktranslate %}
  </li>
</ul>
